Repository exercism/jq, pull requests merged in 2023-02, with the labels that each got.

#143 minor grammar and JSON syntax tweak
  concepts/objects/about.md
  concepts/objects/introduction.md
  exercises/concept/high-score-board/.docs/introduction.md
Labels: x:size/tiny, x:type/content, x:type/docs

#144 Minor tweaks to functions docu
  concepts/functions/about.md
  concepts/functions/introduction.md
  exercises/concept/remote-control-car/.docs/introduction.md
Labels: x:rep/small, x:module/concept, x:type/docs

#147 Fix typo "shorhand"
  concepts/functions/about.md
  concepts/functions/introduction.md
  exercises/concept/remote-control-car/.docs/introduction.md
Labels: x:action/fix, x:type/docs, x:rep/tiny

#151 Lasagna: add test to validate the correct default number of layers
  exercises/concept/lasagna/test-lasagna.bats
Labels: x:rep/small
